github "ArtemChaykovsky/KGNColor" "master"
github "ArtemChaykovsky/KGNAutoLayout" "master"
github "ArtemChaykovsky/KGNGradientView" "master"
github "ArtemChaykovsky/KGNPreferredFontManager" "master"

github "ArtemChaykovsky/NSDate-TimeAgo" "master"
